<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beauty Queen</title>

  <!--
    - favicon
  -->
<link rel="shortcut icon" href="./assets/images/logo/bq.png" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/assets/css/style.css">
 <link rel="stylesheet" href="/style.css">
  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>


  <div class="overlay" data-overlay></div>



  <!--
    - HEADER
  -->

 
  <header>

    <div class="header-top">

      <div class="container">

        <ul class="header-social-container">

          <li>
            <a href="https://www.facebook.com/share/17SYRpjW46/" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://youtube.com/@beautyqueenperambalur?si=0xr-t5qIJm_cv99t" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/beauty_queen_perambalur?igsh=MWtsOHg2c3pxNmdqOA==" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

        <div class="header-alert-news">
          <p>
            <b>Free Shipping</b>
            This Week Order Over - Rs:1499
          </p>
        </div>

        <div class="header-top-actions">


          <select name="language">

            <option value="en-US">English</option>
            

          </select>

        </div>

      </div>

    </div>

    <div class="header-main">

      <div class="container">

        <a href="#" class="header-logo">
           <img src="./assets/images/logo/logo.jpg" alt="Isale's logo" width="190" height="70">
        </a>

        <div class="header-search-container">
          <form action="/search" method="post">
          <input type="text" name="search" class="search-field" placeholder="Enter your product name...">
          
          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>
</form>
        </div>

        <div class="header-user-actions">
          
          

          <a href="/cart" ><button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">Cart</span>
          </button></a>

          <a href="/orders">
          <button class="action-btn" >
            <ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count">Orders</span>
          </button>
          </a>
          

        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">

        <ul class="desktop-menu-category-list">

          <li class="menu-category">
            <a href="/home" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Categories</a>

            <div class="dropdown-panel">

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="earring">
                  <button type="submit" href=""><a >Fasion</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="lipstick">
                  <button  type="submit" href=""><a >lipstick</a></button>
                  </form>
                </li>

                <li class="panel-list-item">
                   <form action="/search" method="post">
                  <input type="hidden" name="search" value="earring">
                  <button  type="submit" href=""><a >Earrings</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="chain">
                  <button  type="submit" ><a >Chain</a></button>
                  </form>
                  
                </li>
                  <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="bag">
                  <button  type="submit" href=""><a >Bags</a></button>
                  </form>
                  
                </li>

               <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="glass">
                  <button  type="submit" href=""><a >Glasses</a></button>
                  </form>
                  
                </li>

              

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Ladies Special</a>
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="saree">
                  <button  type="submit" href=""><a >Saree</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="kurthi">
                  <button  type="submit" href=""><a >Kurthi</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="top">
                  <button  type="submit" href=""><a >Tops</a></button>
                  </form>
                 
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="leggin">
                  <button  type="submit" href=""><a >Leggins</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="plazzo">
                  <button  type="submit" href=""><a >Plazzo phants</a></button>
                  </form>
                  
                </li>

               

              </ul>

              <ul class="dropdown-panel-list">

                <li class="menu-title">
                  <a href="#">Women's</a>
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="formal">
                  <button  type="submit" href=""><a >Formals</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="casual">
                  <button  type="submit" href=""><a >Casual</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="thuppatta">
                  <button  type="submit" href=""><a >Thuppatta</a></button>
                  </form>
                  
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="cosmetics">
                  <button  type="submit" href=""><a >Cosmetics</a></button>
                  </form>
                 
                </li>

                <li class="panel-list-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="bag">
                  <button  type="submit" href=""><a >Bags</a></button>
                  </form>
                  
                </li>

                

              </ul>

              <ul class="dropdown-panel-list">

                
          <li class="menu-category">
            <a href="#" class="menu-title">Women's</a>

            <ul class="dropdown-list">

              <li class="dropdown-item">
                <a href="#">clothes</a>
              </li>

              <li class="dropdown-item">
                <form action="/search" method="post">
                  <input type="hidden" name="search" value="earring">
                  <button  type="submit" href=""><a >Earrings</a></button>
                  </form>
                
              </li>

              <li class="dropdown-item">
                <form action="/search" method="post">
                  <input type="hidden" name="search" value="necklace">
                  <button  type="submit" href=""><a >Necklace</a></button>
                  </form>
                
              </li>

              <li class="dropdown-item">
                <form action="/search" method="post">
                  <input type="hidden" name="search" value="makeup">
                  <button  type="submit" href=""><a >Makeup kit</a></button>
                  </form>
                
              </li>

            </ul>
          </li>

          <li class="menu-category">
            <form action="/search" method="post">
                  <input type="hidden" name="search" value="jwel">
                  <button  type="submit" href=""><a  class="menu-title">jewelry</a></button>
                  </form>
            

            <ul class="dropdown-list">

              <li class="dropdown-item">
                 <form action="/search" method="post">
                  <input type="hidden" name="search" value="earring">
                  <button  type="submit" href=""><a >Earrings</a></button>
                  </form>
              </li>

              <li class="dropdown-item">
                 <form action="/search" method="post">
                  <input type="hidden" name="search" value="couple">
                  <button  type="submit" href=""><a >Couple rings</a></button>
                  </form>
              </li>

              <li class="dropdown-item">
                 <form action="/search" method="post">
                  <input type="hidden" name="search" value="necklace">
                  <button  type="submit" href=""><a >Necklace</a></button>
                  </form>
              </li>

              <li class="dropdown-item">
                  <form action="/search" method="post">
                  <input type="hidden" name="search" value="bracelet">
                  <button  type="submit" href=""><a >Bracelets</a></button>
                  </form>
              </li>

            </ul>
          </li>

          <li class="menu-category"> 
             <form action="/search" method="post">
                  <input type="hidden" name="search" value="saree">
                  <button  type="submit" href=""><a  class="menu-title">Hot Offers</a></button>
                  </form>
           
          </li>

        </ul>

      </div>

    </nav>

    <div class="mobile-bottom-navigation">

     <a href="/cart">
      <button class="action-btn" onclick="opencart()">
        
        <ion-icon name="heart-outline"></ion-icon>
        <span class="count">Cart</span>
      </button>
      </a>

     
      <a href="/orders">
      <button class="action-btn">
        <ion-icon name="bag-handle-outline"></ion-icon>

        <span class="count">Orders</span>
      </button>

      </a>
      <a href="/home">
      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="home-outline"></ion-icon>
      </button>
      </a>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
       
      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">
         <li class="menu-category">
          <a href="/orders" class="menu-title">Orders</a>
        </li>

        <li class="menu-category">
          <a href="/home" class="menu-title">Home</a>
        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Ladies Special</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Saree</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">kurti</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Tops</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">leggins</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Women's</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Plazzo Phants</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Makeup Kit</a>
            </li>

          </ul>

        </li>

        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">Jewelry</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Earrings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Couple Rings</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Necklace</a>
            </li>

            <li class="submenu-category">
              <a href="#" class="submenu-title">Bracelets</a>
            </li>

          </ul>

        </li>


        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>


      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>
            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Currency</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              
              <li class="submenu-category">
                <a href="#" class="submenu-title">Rupees &euro;</a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="https://www.facebook.com/share/17SYRpjW46/" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://youtube.com/@beautyqueenperambalur?si=0xr-t5qIJm_cv99t" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/beauty_queen_perambalur?igsh=MWtsOHg2c3pxNmdqOA==" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>







  <!--
    - MAIN
  -->

  <main>




    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <div class="product-box">

          <!--
            - PRODUCT MINIMAL
          -->

  <section id="page-header" class="about-header">
        <h2>#Checkout</h2>
        <p>Thanks for your order & you SAVED upto 70%!</p>
    </section>
{{#if error}}
              <div style="color: red; font-weight: bold; margin-bottom: 10px;">
            {{error}}
               </div>
           {{/if}}
    <section id="cart" class="section-p1">
        <table width="100%">
            {{#each orders}}
            <div class="product-featured">

            <h2 class="title"></h2>

            <div class="showcase-wrapper has-scrollbar">

              <div class="showcase-container">

                <div class="showcase">
                  
                  <div class="showcase-banner">
                    <img src="/{{this.image}}" alt="{{this.name}}" class="showcase-img">
                  </div>

                  <div class="showcase-content">
                    
                  

                    <a href="#">
                      <h3 class="showcase-title"> <p><strong>Product:</strong> {{this.name}}</p></h3>
                    </a>
                        <p><strong>Size:</strong> {{this.size}}</p>
                    <p class="showcase-desc">
                     <p><strong>Quantity:</strong> {{this.quantity}}</p>
                    </p>

                   
                      <p class="price"><p><strong>Price per item:</strong> ₹{{this.price}}</p></p>
                    <p><strong>Total:</strong> ₹{{this.total}}</p>


           

                  
                    
                </div>
              
              </div>
  

            </div>

          </div>
           
        </div>

        {{/each}}


         <div class="product-featured">
                  
            <h2 class="title">billing-details</h2>
             <p>Cart subtotal : Rs.{{grandtotal}}</p>
                   <p>Shipping      : Free</p>
                  <p>Total Amount To pay : Rs.{{grandtotal}}</p>
            <div class="showcase-wrapper has-scrollbar">

              <div class="showcase-container">
                   
                <div class="showcase">
                  
                 

                  <div class="showcase-content">
                    
                  

                   


            <form id="paymentform" method="post">
            <input type="text" name="username" class="email-field" placeholder="Enter your name" required>
                           <input type="email" name="email" class="email-field" placeholder="Enter your Email Id" required>         

            <input type="text" name="address" class="email-field" placeholder="Enter your address" required>
            <input type="number" name="pincode" class="email-field" placeholder="Enter Area pincode" required>
            <input type="text" name="district" class="email-field" placeholder="Enter your district" required>
            <input type="text" name="landmark" class="email-field" placeholder="nearby city (landmark)" required> 
            <input type="hidden" name="total" value="{{grandtotal}}">
            <div class="radio-group" >
                    <input type="radio" name="payment" value="/upipayment" onclick="toggleUpi(true)">
                    <label><strong>Using UPI</strong></label>
                    <input type="radio" name="payment" value="/cartpayment" onclick="toggleUpi(false)" required>
                    <label><strong>Cash On Delivery</strong> </label>
                    </div>
                    <div id="upiField" style="display: none; margin-top: 10px;">
                    </div>
            
                {{#each orders}}
    <input type="hidden" name="productid[]" value="{{this.id}}">
    <input type="hidden" name="size[]" value="{{this.size}}">
    <input type="hidden" name="quantity[]" value="{{this.quantity}}">
    <input type="hidden" name="total[]" value="{{this.total}}">
  {{/each}}

            <button type="submit" class="add-cart-btn">Proceed to Payment</button>
            </form>

                  
                    
                </div>
              
              </div>
  

            </div>

          </div>
           
        </div>
        </table>
       
          </section>
         

        </div>

      </div>

    </div>


  </main>





  <!--
    - FOOTER
  -->

   <footer>

    <div class="footer-category">

      <div class="container">

        <h2 class="footer-category-title">Brand directory</h2>

        <div class="footer-category-box">

          <h3 class="category-box-title">Fashion :</h3>

          <a href="#" class="footer-category-link">Saaree</a>
          <a href="#" class="footer-category-link">Kurti</a>
          <a href="#" class="footer-category-link">leggins</a>
          <a href="#" class="footer-category-link">tops</a>
          <a href="#" class="footer-category-link">dress & frock</a>
          <a href="#" class="footer-category-link">innerwear</a>
          <a href="#" class="footer-category-link">hosiery</a>

        </div>

        <div class="footer-category-box">
          <h3 class="category-box-title">jewellery :</h3>
        
          <a href="#" class="footer-category-link">Necklace</a>
          <a href="#" class="footer-category-link">Earrings</a>
          <a href="#" class="footer-category-link">Couple rings</a>
          <a href="#" class="footer-category-link">Pendants</a>
          <a href="#" class="footer-category-link">Crystal</a>
          <a href="#" class="footer-category-link">Bangles</a>
          <a href="#" class="footer-category-link">bracelets</a>
          <a href="#" class="footer-category-link">nosepin</a>
          <a href="#" class="footer-category-link">chain</a>
          <a href="#" class="footer-category-link">Earrings</a>
          <a href="#" class="footer-category-link">Couple rings</a>
        </div>

        <div class="footer-category-box">
          <h3 class="category-box-title">cosmetics :</h3>
        
          <a href="#" class="footer-category-link">Shampoo</a>
          <a href="#" class="footer-category-link">Bodywash</a>
          <a href="#" class="footer-category-link">Facewash</a>
          <a href="#" class="footer-category-link">makeup kit</a>
          <a href="#" class="footer-category-link">liner</a>
          <a href="#" class="footer-category-link">lipstick</a>
          <a href="#" class="footer-category-link">prefume</a>
          <a href="#" class="footer-category-link">Body soap</a>
          <a href="#" class="footer-category-link">scrub</a>
          <a href="#" class="footer-category-link">hair gel</a>
          <a href="#" class="footer-category-link">hair colors</a>
          <a href="#" class="footer-category-link">hair dye</a>
          <a href="#" class="footer-category-link">sunscreen</a>
          <a href="#" class="footer-category-link">skin loson</a>
          <a href="#" class="footer-category-link">liner</a>
          <a href="#" class="footer-category-link">lipstick</a>
        </div>

      </div>

    </div>

    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Popular Categories</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Fashion</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Tradisional</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Cosmetic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Health</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Skincare</a>
          </li>

        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Products</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Our Company</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Delivery</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Legal Notice</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">About us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">
        
          <li class="footer-nav-item">
            <h2 class="nav-title">Services</h2>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>
        
          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>
        
        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Contact</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
             VSK mahal,Veppur, perambalur, Tamilnadu 621717
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+918940026809" class="footer-nav-link">+91 9942762061</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:example@gmail.com" class="footer-nav-link">rajaqueens007@gmail.com</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="https://www.facebook.com/share/17SYRpjW46/" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://youtube.com/@beautyqueenperambalur?si=0xr-t5qIJm_cv99t" class="footer-nav-link">
                  <ion-icon name="logo-youtube"></ion-icon>
                </a>
              </li>


              <li class="footer-nav-item">
                <a href="https://www.instagram.com/beauty_queen_perambalur?igsh=MWtsOHg2c3pxNmdqOA==" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="./assets/images/payment.png" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">Isale</a> all rights reserved.
        </p>

      </div>

    </div>

  </footer>

<script>
  const form = document.getElementById('paymentform');
  const radios = document.querySelectorAll('input[name="payment"]');
  // Change form action when a radio is selected
  radios.forEach(radio => {
    radio.addEventListener('change', () => {
      form.action = radio.value;  // Set action to the selected radio’s value
    });
  });
  // Set default action when page loads
  form.action = document.querySelector('input[name="payment"]:checked').value;
</script>


  <script src="/assets/js/script.js"></script>
  <script src="/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>